.header-wrapper {
    border-bottom: solid 2px gray;
    margin-bottom: 30px;
    min-height: 5rem;
    display: flex;

    .navigation-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        width: 100%;

        .nav-left-side {

            .burger-menu-icon {
                background: none;
                border: none;
                cursor: pointer;
                position: relative;

                img {
                    max-height: 35px;
                }
            }
        }

        .nav-right-side {
            display: flex;
            align-items: center;
            gap: 30px;
            //width: 35%;

            .navigation-links {
                // width: 100%;
                // display: flex;
                // justify-content: space-between;
            }

            .shopping-cart {
                background: none;
                border: none;
                cursor: pointer;
                position: relative;

                img {
                    max-height: 35px;
                }

                .cart-count {
                    display: flex;
                    position: absolute;
                    top: 0;
                    right: -8%;
                    background-color: #00E0A8;
                    border-radius: 50%;
                    width: 19px;
                    height: 19px;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 11px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.footer-wrapper {
    margin-top: 30px;
    min-height: 15rem;
    background-color: #2A3439;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark semi-transparent background */
    z-index: 5;
}

.no-scroll {
    overflow: hidden;
}