.header-wrapper {
    border-bottom: solid 2px black;
    margin-bottom: 20px;

    .navigation-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;


        .nav-left-side {}

        .nav-right-side {
            display: flex;
            align-items: center;
            gap: 30px;

            .shopping-cart {
                img {
                    max-height: 35px;
                }
            }
        }
    }
}