.product-details-wrapper {


    .product-details-card {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
        align-items: center;

        .image-content {
            display: flex;
            justify-content: center;
            max-width: 100%;
            // min-width: 200px;
            // height: 250px;

            img {
                width: 60%;
                // max-width: 100%;
                // max-height: 100%;
            }
        }

        .product-info {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            .quantity-wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-size: 17px;
                    font-weight: 700;
                }

                .quantity-selector {
                    display: flex;
                    justify-content: space-between;
                    background: #FCFCFD;
                    border: solid 1px #EAECF0;
                    min-height: 50px;
                    max-width: 150px;

                    button {
                        background: none;
                        border: none;
                        color: #2A3439;
                        padding: 0 10px;
                        font-size: 20px;
                        width: 50%;
                    }

                    input {
                        text-align: center;
                        border: none;
                        background: none;
                        font-size: 16px;
                        width: 100%;
                    }
                }
            }

            button {
                background-color: #2A3439;
                border: solid #2A3439;
                color: white;
                font-size: 16px;
                font-weight: 700;
                padding: 15px 30px;
                transition: background-color 0.5s ease;

                &:hover {
                    background-color: #00E0A8;
                    color: black;
                }
            }

            .description-accordion {
                border: solid 1px #2A3439;
                border-radius: 12px;
                padding: 20px;
                gap: 20px;
                transition: all 0.5 ease;

                .accordion-header {
                    font-weight: 700;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 18px;

                    span {}
                }

                p {
                    margin-top: 15px;
                }

                .accordion-enter-active,
                .accordion-leave-active {
                    transition: max-height 0.3s ease, opacity 0.3s ease;
                }

                .accordion-enter-from,
                .accordion-leave-to {
                    max-height: 0;
                    opacity: 0;
                }

                .accordion-enter-to,
                .accordion-leave-from {
                    max-height: 1000px;
                    opacity: 1;
                }
            }
        }
    }
}



@media (min-width: 768px) {
    .product-details-wrapper {
        display: flex;
        justify-content: center;

        .product-details-card {
            flex-direction: row;
            gap: 3rem;

            .image-content {

                img {}
            }

            .product-info {
                max-width: 45%;

                button {}
            }
        }
    }

}

@media (min-width: 992px) {
    .product-details-wrapper {
        .product-details-card {
            .image-content {
                img {}
            }

            .product-info {
                display: flex;
                flex-direction: column;

                button {
                    cursor: pointer;

                }
            }
        }
    }
}

@media (min-width: 1200px) {}