.product-details-wrapper {

    .product-details-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
        align-items: center;

        .image-content {
            display: flex;
            justify-content: center;
            max-width: 100%;

            img {
                width: 75%;
            }
        }

        .product-info {
            display: flex;
            flex-direction: column;

            button {
                background-color: black;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 16px;
                font-weight: 700;
                padding: 15px 30px;
            }
        }
    }
}



@media (min-width: 768px) {
    .product-details-wrapper {
        display: flex;
        justify-content: center;

        .product-details-card {
            flex-direction: row;
            gap: 3rem;

            .image-content {

                img {}
            }

            .product-info {
                max-width: 45%;

                button {}
            }
        }
    }

}

@media (min-width: 992px) {
    .product-details-wrapper {
        .product-details-card {
            .image-content {
                img {}
            }

            .product-info {
                display: flex;
                flex-direction: column;

                button {

                    &:hover {
                        background-color: #00FFBF;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {}