.product-card {
    position: relative;
    display: grid;
    width: 80%;
    min-height: 300px;
    justify-items: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 3px 7px 8px 2px #888;
    grid-template-rows: 2fr 1fr;

    .image-wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        width: 100%;

        .product-thumb {
            max-width: 100%;
            height: 110px;
        }

        .quick-buy-btn {
            width: 35px;
            height: 35px;
            border: solid 1px #d9d9d9;
            background-color: #FFEAD1;
            position: absolute;
            top: 45%;
            left: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 100%;
            }
        }
    }


    .info-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        align-self: flex-start;

        h4 {
            font-size: 14px;
        }

        p {
            font-size: 14px;
            text-align: start;
        }
    }

    .quick-buy-enter-active,
    .quick-buy-leave-active {
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .quick-buy-enter-from,
    .quick-buy-leave-to {
        max-height: 0;
        opacity: 0;
    }

    .quick-buy-enter-to,
    .quick-buy-leave-from {
        max-height: 1000px;
        opacity: 1;
    }
}



@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}